/* ================ */
/* General Styling */
/* ================ */

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid:
    "header" minmax(min-content, 150px)
    "content" 1fr
    "footer" minmax(min-content, 50px)
    / 1fr;
  place-items: stretch;
}

/* ================ */
/* Header Styling */
/* ================ */

#header {
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  padding: 1rem 2rem;
}

.header__item {
  flex: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo__paw {
  height: var(--size);

  animation: pawWave 15s ease-out infinite;
  animation-delay: 3s;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@keyframes pawWave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  5%,
  15%,
  25% {
    transform: rotate(15deg) scale(1.1);
  }
  10%,
  20% {
    transform: rotate(-15deg) scale(1.1);
  }
  30%,
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* ================ */
/* Content Styling */
/* ================ */

#content {
  grid-area: content;
}

/* ================ */
/* Footer Styling */
/* ================ */

#footer {
  grid-area: footer;
}
