/* ================ */
/* General Styling */
/* ================ */

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  display: grid;
  grid:
    "header" min-content
    "content" 1fr
    "footer" min-content
    / 1fr;
  place-items: stretch;
  gap: 2.5rem;

  background: center url(../assets/images/pet-background.png) repeat;

  position: relative;
}

.body--bg-filter {
  transition-duration: 5s;

  backdrop-filter: grayscale(70%);
  filter: brightness(70%);
}

/* ================ */
/* Header Styling */
/* ================ */

#header {
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  padding: 1rem 2rem;

  box-shadow: 0px 10px 25px 20px var(--background-color);
  background-color: var(--background-color);
  color: var(--text-color);

  position: sticky;
  z-index: 1;
  top: 0;
}

.header__item {
  flex: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo__text {
  filter: drop-shadow(3px 3px 1px var(--primary-color));
}

.logo__paw {
  height: var(--size);

  fill: var(--primary-color);

  animation: pawWave 12s ease-out infinite;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav__button {
  padding: 0.3rem 1rem;

  background-color: var(--primary-color);
  color: inherit;

  border: 1px solid var(--text-color);
  border-radius: 15% / 50%;
  box-shadow: 0 0 3px 3px var(--accent-color);

  transition-duration: 0.2s;
}

.nav__button--selected {
  transform: scale(1.1);

  animation: selectedButtonGlow 3s ease-out infinite;
}

.nav__button:hover,
.nav__button:focus {
  transform: scale(1.1);
  box-shadow: 4px 4px 3px var(--accent-color);
}

.nav__theme-button:hover,
.nav__theme-button:focus {
  transform: scale(1.1);
}

.nav__theme-button {
  background-color: #0000;
  border: none;

  transition-duration: 0.2s;
}

.nav__theme-svg {
  height: calc(var(--size) * 2);

  fill: var(--text-color);

  pointer-events: none;
}

@keyframes selectedButtonGlow {
  0%,
  100% {
    box-shadow: 0 0 5px 5px var(--accent-color);
  }
  50% {
    box-shadow: 0 0 12px 8px var(--accent-color);
  }
}

@keyframes pawWave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  5%,
  15%,
  25% {
    transform: rotate(15deg) scale(1.1);
  }
  10%,
  20% {
    transform: rotate(-15deg) scale(1.1);
  }
  30%,
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* ================ */
/* Content Styling */
/* ================ */

#content {
  grid-area: content;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;

  width: clamp(1000px, 50vw, 600px);
  padding: 6rem;

  color: var(--text-color);
  background-color: var(--primary-color);

  border: 5px solid var(--accent-color);
  border-radius: 5% / 30%;
  box-shadow:
    0 8px 12px black,
    inset 0 0 20px black;
}

.content__hr {
  border: 4px ridge var(--accent-color);

  align-self: stretch;
}

.content__header {
  flex: none;
  padding: 0.5rem 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  background-color: var(--secondary-color);

  box-shadow: 0 0 8px black;
  border: 5px solid var(--accent-color);
  border-radius: 5% / 50%;
}

.header__subtext {
  font-size: calc(var(--size) * 0.5);
}

.content__main {
  flex: auto;
  align-self: stretch;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.main__paragraph {
  text-align: center;
}

.main__container-outer,
.main__container-inner {
  clip-path: polygon(
    0 21%,
    11% 0,
    89% 0,
    100% 21%,
    100% 79%,
    89% 100%,
    11% 100%,
    0 79%
  );
}

.main__container-header {
  font-size: calc(var(--size) * 1.5);
}

.main__container-outer {
  padding: 1rem;

  background-color: var(--accent-color);

  width: 60%;
}

.main__container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1.5rem 1rem;

  background-color: var(--secondary-color);

  border-radius: 5% / 50%;
}

.main__image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;
  width: 60%;

  border-radius: 1rem;
  border: 2px solid var(--accent-color);
  box-shadow: 0 0 5px 5px black;

  overflow: hidden;

  aspect-ratio: 3 / 4;
}

.main__image {
  object-fit: cover;
}

/* ================ */
/* Footer Styling */
/* ================ */

#footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 1rem 2rem;

  background-color: var(--background-color);
  color: var(--text-color);
}

#footer a {
  color: var(--secondary-color);
}

#footer a:visited {
  color: var(--accent-color);
}

/* ================ */
/* Basic Mobile Media Queries */
/* ================ */

@media (max-width: 1200px) {
  :root {
    --base-size: 0.6rem;
  }

  #header {
    flex-direction: column;
  }

  #content {
    width: 80vw;
  }

  .main__container-outer {
    padding: 0.5rem;
    width: 70%;
  }

  .main__container-inner {
    padding: 0.5rem;
  }
}

@media (max-width: 600px) {
  #content {
    width: 90vw;
    padding: 2rem;
  }
}

@media (max-height: 500px) {
}
